<body>
    <!-- form-switcher.component.html -->
    <section class="forms-section">
        <h1 class="section-title">GradeR</h1>
        <div class="forms">
            <!-- Login Form -->
            <div class="form-wrapper" [class.is-active]="activeForm === 'login'">
                <button type="button" class="switcher switcher-login" (click)="switchForm('login')">
                    Login
                    <span class="underline"></span>
                </button>
                <form class="form form-login" (ngSubmit)="onSubmit('login', loginForm.value)" #loginForm="ngForm">
                    <fieldset>
                        <legend>Please, enter your email and password for login.</legend>
                        <div class="input-block">
                            <label for="login-email">E-mail</label>
                            <input id="login-email" type="email" required name="email" ngModel>
                        </div>
                        <div class="input-block">
                            <label for="login-password">Password</label>
                            <input id="login-password" type="password" required name="password" ngModel>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>

            <!-- Signup Form -->
            <div class="form-wrapper" [class.is-active]="activeForm === 'register'">
                <button type="button" class="switcher switcher-signup" (click)="switchForm('register')">
                    Register
                    <span class="underline"></span>
                </button>
                <form class="form form-signup" (ngSubmit)="onSubmit('signup', signupForm.value)" #signupForm="ngForm">
                    <fieldset>
                        <legend>Please, enter your email, password and password confirmation for sign up.</legend>
                        <div class="input-block">
                            <label for="signup-email">E-mail</label>
                            <input id="signup-email" type="email" required name="email" ngModel>
                        </div>
                        <div class="input-block">
                            <label for="signup-password">Password</label>
                            <input id="signup-password" type="password" required name="password" ngModel>
                        </div>
                        <div class="input-block">
                            <label for="signup-password-confirm">Confirm password</label>
                            <input id="signup-password-confirm" type="password" required name="confirmPassword" ngModel>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-signup">Continue</button>
                </form>
            </div>
        </div>
    </section>
</body>